/***************************
****************************
Theme Styles
****************************
***************************/
.background-primary {
    background: $orange; /*Orange*/
  }
  .background-secondary {
    background: $blue; /*Blue*/
  }
  .background-tertiary {
    background: $green; /*Green*/
  }
  .background-quaternary{
    background: $violent; /*violent*/
  }
  .background-quinary {
    background: $brown; /*brown*/
}